/*
Hoja de estilo
*/

img{
    margin:0 auto;
    display: block;
    width: 15%;
    padding-top: 10px;
}

h1{
  text-align: center;
    font-size: 35px
}


nav ul li a{
    background-color:black;
    color: white;
    text-decoration: none;
    padding: 2px;
}

nav ul li a:hover{
    background-color: white;
    color: black;
    list-style: none;
}   

h2{
    text-align: center;
    color: whitesmoke;
    font-size: 28.5px;
}

header{
    background-color:gray;
    text-align: center;
    height: 15%;
    
}

section{
    width: 33%;
    float: right;
    text-align: center;
    max-height: none;
    padding: 01vh 
}


section1,section2,section3,section4,section5,section6{
    color: whitesmoke;
    font-size: 20px;
    text-align: center
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: black;
    color: whitesmoke;
}

td,th{
   border: 2px solid whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    background-color: gray;
    text-align: center;
   padding: 20px;
    clear: both;
    
}

header,footer{
    border-style: solid;
    border-radius: 20px;
}

body{
    font-family:cursive;
    
}

body{
    background-image: url(court.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.main{
    height: px;
}


